<%= render 'nav', work: @work %>
<main>
  <section>
    <h3>Spotlight</h3>
  </section>
  <section>
    <h3>Top Movies</h3>
  </section>
    <section>
    <h3>Top Books</h3>
  </section>
    <section>
    <h3>Top Albums</h3>
  </section>
</main>